name: Deploy to VPS

  on:
    push:
      branches:
        - main

  jobs:
    deploy:
      runs-on: ubuntu-latest

      steps:
        - name: Deploy to VPS
          uses: appleboy/ssh-action@v1.0.3
          with:
            host: ${{ secrets.VPS_HOST }}
            username: ${{ secrets.VPS_USERNAME }}
            key: ${{ secrets.VPS_SSH_KEY }}
            script: |
              cd /home/ubuntu/git/lumera
              git pull origin main
              sudo docker compose up -d --build --force-recreate
              sleep 10
              sudo docker exec -T lumera_backend migrate -path=/app/migrations-database='postgres://admin:hackathon2025@postgres:5432/hackathon?sslmode=disable' up
              sudo docker image prune -f